

p.redFont {
    color: red;
}

#mainHeading {
    color: red;
}

h1 {
    font-size: 40px;
    text-align: center;
    padding: 50px;
    border-style: double;
    border-color: black;
}

p {
    font-family: Arial;
    font-size: 25px;
    font-style: italic;
    background-color: rgb(179, 226, 224);
    text-align: center;
    color: black;
    margin-left: 250px;
    margin-right: 250px;
}

p.funParagraph {
    color: green;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
    max-width: 500px;
} 

body {
    background-color: rgb(179, 226, 224);
    margin: 8px;
    display: block;
}

footer {
    margin-top: 100px;
    text-align: left; 
}

